/* general */
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Jacques+Francois+Shadow&family=Poppins:wght@200;300;500;600;800&display=swap");

:root {
  --green: #39ff14;
  /* --orange: #ff652f; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #000;
}

a {
  text-decoration: none;
  color: white
}

li {
  list-style: none;
}

body{
  animation: transitionIn 0.95s ease-in;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
/* @keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */



/* Partcles Background */
#particles-js {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(keypad.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

/* Snackbar */
#snackbar {
  visibility: hidden;
  min-width: 250px;
  /* margin-left: -125px; */
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 62px;
  bottom: 30px;
  font-size: 17px;
}


@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Header */
.swap-on-hover {
  position: fixed;
  top: 0;
  left: 0;
}

.swap-on-hover {
  position: relative;	
	margin:  0 auto;
}

/* Select the image and make it absolute to the container */
.swap-on-hover img {
  position: absolute;
  top:10px;
  left:5px;
	overflow: hidden;
	width: 48px;
	height: 48px;
}

.swap-on-hover .swap-on-hover__front-image {
  z-index: 8888;
  transition: opacity .5s linear;
  cursor: pointer;
}
.brand-img:hover > .swap-on-hover__front-image{
  opacity: 0;
}

.menu-btn {
  position: absolute;
  z-index: 11;
  right: 1.2rem;
  top: 1rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  border-radius: 4px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  border-radius: 4px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  border-radius: 4px;
  background: #fff;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menu-btn__burger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}


.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  z-index: 9;
  visibility: hidden;
}

.nav.open {
  visibility: visible;
}

.nav .menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #272727;
  list-style-type: none;
  padding-right: 1rem;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}

.nav .menu-nav.open {
  transform: translateY(0);
}

.nav .menu-nav__item {
  transform: translateX(100vw);
  transition: all 0.5s ease-in-out;
  transition: 0.5s;
}

.nav .menu-nav__item.open {
  transform: translateX(0);
}

.nav .menu-nav__item.active>a {
  color: var(--green);
}

.nav .menu-nav__link {
  display: inline-block;
  font-size: 2rem;
  padding: 1.2rem 0;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}


.menu-nav:hover li a{
  transform:scale(1.5);
  opacity: 2;
  filter: blur(5px);
}
.nav .menu-nav__link:hover {
  color: var(--green);
  transform:scale(1.5);
  opacity: 2;
  filter: blur(0);
  /* border-radius: 2px; */
}

.nav .menu-nav__link:hover:before {
  transition: 0.5s;
  transform-origin: left;
  transform: scale(1);
}




/* social_icons */
#social_icons {
  position: absolute;
  top: 35%;
  transition: 0.3s;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 3;
}

.menu-social li {
  position: relative;
  left: -30px;
  /* margin:5px 0; */
  text-align: end;
  transition: left 0.3s ease-out;
}
.menu-social li a {
  display: inline-block;
  padding: 12px 12px 12px 22px;

}
.menu-social li:hover {
  left: -15px;
}

.side-link:nth-child(1) {
  left: -30px;
  font-size: 8px;
  padding: 5px 0;
}
.side-link:nth-child(1):hover {
  left: -30px;
}
.side-link:nth-child(2) {
  background-color: #4868ad;
}

.side-link:nth-child(3) {
  background-color: #4e545a;
}

.side-link:nth-child(4) {
  background-color: #3299ff;
}

.side-link:nth-child(5) {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


/* Home */
.center-texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-texts h4 {
  color: white;
  font-size: 32px;
}

.center-texts h1 {
  font-family: 'Londrina Shadow', cursive;
  color: white;
  font-size: 36px;
  letter-spacing: 6px;
  margin-top: 0;
}

.center-texts h1:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.small {
  color: white;
  position: absolute;
  right: 14px;
  top: 84px;
  animation: 1.6s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #29e208, 0 0 40px #21c704, 0 0 50px #21c704, 0 0 60px #21c704, 0 0 70px #21c704;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #5bf840, 0 0 40px #5bf840, 0 0 50px #5bf840, 0 0 60px #5bf840, 0 0 70px #5bf840, 0 0 80px #5bf840;
  }
}
@keyframes fadeIn {
  96% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}


/* Right Icon/line   */
#rightNav {
  display: none;
  position: absolute;
  right: 0;
  top: 30%;
  transition: 0.3s;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 3;

}
#rightNav i {
  color: #fff;
  padding: 0 25px;
  margin-bottom: 10px;
}

#rightNav span {
  padding: 0 5px;
  margin-bottom: 5px;
  display: none;
  color: var(--green);
  transition: display 1s ease;
}

#rightNav a:hover i {
  display: none;
}

#rightNav a:hover span {
  display: block;
}
.line {
  width: 3px;
  height: 180px;
  margin: 0 1rem;
  background-color: #fff;
  margin: 0 auto;
}
.icon:hover + .line{
  background-color: var(--green);
}
.copy{
  transform: rotate(90deg) translate(3rem, 0.9rem);
  color:white;
  position:absolute;
  font-size: 12px;
}
.copy a:hover{
  color: var(--green)
}



/* About */
.about h2{
  color:var(--green);
}
.det{
  overflow-y:auto;
}
.about__container, .wrapper{
  position: absolute;
  display: flex;
  z-index: 1;
  color: #fff;
  top: 70px;
  left: 36px;
  width: 94%;
  height: calc(100vh-70px);
  overflow: hidden;
  padding-right: 1rem;;
  justify-content: center;
  align-items: center;
}
.about, .box{
  padding:1rem;
  flex: 1 1 0px;
  margin: auto;
  justify-self: center;
  align-content: center;
}
.box{
  display:none;
}
.box div{
  position: absolute;
  top:0;
  left: 0;
  width:80%;
  height:100%;
  transform-style: preserve-3d;
}
.box div span{
  color:#fff;
  position: absolute;
  top:0;
  left: 0;
  display: block;
  width:100%;
  height:80%;
  background: linear-gradient(0deg, rgba(241,241,241,0.1), rgba(77, 77, 77,0.1), rgba(241,241,241,0.1));
  border-radius: 20px;
  text-align: center;
}
.box div span:nth-child(1){
  transform: rotateX(0deg);
}
.box div span:nth-child(2){
  transform: rotateX(45deg);
}
.box div span:nth-child(3){
  transform: rotateX(-45deg);
}
.box div span:nth-child(4){
  transform: rotateX(90deg);
}
.box div span:nth-child(5){
  transform: rotateX(-90deg);
}
.box div span:nth-child(6){
  transform: rotateX(135deg);
}
.box div span:nth-child(7){
  transform: rotateX(-135deg);
}
.box div span:nth-child(8){
  transform: rotateX(180deg);
}

@keyframes anim{
  0%{
    transform:perspective(1000px) rotateX(0deg)
  }
  100%{
    transform:perspective(1000px) rotateX(359deg)
  }
}




/* Projects */
.stack {
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 36px;
  display: grid;
  overflow-y: hidden;
  padding-bottom:1rem;
  padding-right: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.stack .itembox {
  position: relative;
  min-width: 16.6666666667%;
  overflow: hidden;
}

.stack .itembox img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.overlay {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.27);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.itembox:hover .overlay {
  /* background-color: rgba(0,0,0,0.27); */
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.itembox:hover img {
  /* filter: grayscale(100%); */
  /* filter: blur(1.5px); */
  transform: scale(1.2);
  transition: .5s ease;
}

.text {
  color: #000;
  font-size: 20px;
  position: absolute;
  background: var(--green);
  border-radius: 50%;
  padding: 25px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}




/* Contact */
#googleMap{
  display:none;
}

.contact{
  margin: auto;
}
.m5{
margin:0 20px;
}
.contact h2{
  color:var(--green)
}
.field {
  display: flex;
  flex-flow: column-reverse;
  /* margin-bottom: 1em; */
}

.name{
  margin-right: 10px;
}
.message{
  margin:20px 0;
}
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input,textarea, .btn {
  font-size: 1.2em;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255,0.5);
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  color:#fff;
  cursor: text;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.field>input:focus, textarea:focus {
  outline: 0;
  border-bottom: 1.75px solid var(--green);
}
.field>input:focus {
  animation: borderLine 0.75s ease-in-out;
}
@keyframes borderLine{
  0%{
    width:0;
  }
  100%{
    width:100%;
  }
}
label {
  letter-spacing: 0.05em;
  padding: 0;
}
.half {
  width:100%;
}
.field>input:placeholder-shown + label {
  cursor: text;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.3);
}
::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder, textarea:focus::placeholder {
  opacity: 1;
}
.field>input:not(:placeholder-shown) + label,
.field>input:focus + label {
  transform: translate(0, 0) scale(0.8);
  cursor: pointer;
}
.btn {
  display:inline-block;
  border: 1px solid #fff;
  cursor: pointer;
  text-align: center;
  padding:10px 0;
  text-decoration: none;
  letter-spacing: 2px;
  color:var(--green);
  position: relative;
}

.btn:hover{
  color:#000;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff ;
  transition-delay: 0.2s;
}





/* Media Queries */
/* Extra small devices (phones, 600px and down) 
Tha is the default*/ 
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* Projects */
  .stack{
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    padding-bottom:0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* Snackbar */
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s 10s, fadeout 0.5s 2.5s;
  }

  .menu-btn {
    visibility: hidden;
  }
  .nav {
    visibility: visible;
  }
  .nav .menu-nav {
    display: block;
    transform: translateY(0);
    height: 100%;
    background: transparent;
    text-align: right;
  }

  .nav .menu-nav__item {
    display: inline;
    padding-right: 1.5rem;
  }

  .nav .menu-nav__link {
    font-size: 1.2rem;
  }

  /* home */
  .center-texts {
    display: block;
  }

  h4 {
    color: white;
    font-size: 32px;
    line-height: 0;
  }

  .center-texts h1  {
    font-family: 'Londrina Shadow', cursive;
    color: white;
    font-size: 98px;
    letter-spacing: 16px;
    margin-top: 0;
  }

  .small {
    color: white;
    position: absolute;
    right: 50px;
    top: 94px;
    animation: 1.6s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  #rightNav {
    display: block;
  }

  /* About */
  .about, .box{
    padding:0 0.5rem;
    max-width: 50%;
  }
  .box{
    display:block;
    margin: 10px;
    transform: perspective(1000px) rotateY(-45deg);
    width:100px;
    height:600px;
    transform-style: preserve-3d;
    animation:anim 6s linear infinite;
    color: #000;
  }
  .box:hover{  
    animation:anim 28s linear infinite;
  }
  /* Projects */
  .stack{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  /* Contact */
  .half {
    width:50%;
  }
  .wr{
    display: flex;
  }
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  /* Projects */
  .stack{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    width: calc(100vh-65px);
    height: calc(100vh-55px);
    padding-bottom:0;
  }
  #googleMap{
    display: block;
  }

  /* About */
  .about, .box{
    padding:0 3rem;
    max-width: 50%;
  }
  .box{
    margin: 10px 90px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
