* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #f4cc2c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #27262c;
}
section {
    width: 100%;
    padding-top: 4.5em;
}
.loader-style {
    width: 100%;
    height: 100vh;
    background-color: #f4cc2c;
}

.col1 img {
    width: 50%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1em 3em;
    width: 100%;;
}

.nav-container {
    padding: 1em 0;
    border-top: solid 2px #cecece
}
a{
    text-decoration: none;
    color: #a4a4a4;
}
.active{
    color: #f4cc2c;
    font-weight: 700;
    border-top:solid .125em #f4cc2c;
    padding-top: 1em
}
a:hover{
    font-size: 1.125em;
}
.blue {
    color: #f4cc2c;
}
.top, .bottom {
    display: none;
}
@media only screen and (min-width: 567px) {
    .top {
        display: block;
        position: absolute;
        top: 0;
        left:0;
        width: 12.5%;
    }
    .bottom {
        display: block;
        position: absolute;
        right: 0;
        bottom:9em;
        width: 12.5%;
    }
    h1{
        font-size: 12em;
        font-family: 'Roboto', sans-serif;
        font-weight: 800;
    }
    p{
        font-family: 'Dancing Script', cursive;
        font-size: 3em;
        color: #a4a4a4;
        margin-left: .125em;
    }
    h3 {
        text-transform: uppercase;
        margin-left: .5em;
    }
    button{
        border-radius: .75em;
        padding: .75em 2.5em;
        background-color: #f4cc2c;
        border-color: #f4cc2c;
        color: #27262c;
        text-transform: uppercase;
    }
    .col1 {
        grid-area: top;
    }
    .col2 {
        grid-area: topp;
    }
    .btn {
        grid-area: bottom;
    }
    .container {
        display: grid;
        width:80%;
        height: 80%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            'top topp'
            '. bottom';
        grid-gap: 3em;
        padding: 2em;
    }
    .col1 img {
        float: right;
    }
    .btn,
    .col2 {
        justify-self: start;
    }
    li {
        display: inline;
    }
    .menu{
        float: left;
    }
    .menu li {
        margin-right: .75em;
        text-transform: uppercase;
    }
    .icons {
        float: right;
        padding-bottom: .75em;
    }
    .icons li {
        margin: 1em;
    }
}


/* loader css */
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease infinite forwards 3.5s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 549px;
    stroke-dashoffset: 549px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 245px;
    stroke-dashoffset: 245px;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 518px;
    stroke-dashoffset: 518px;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 635px;
    stroke-dashoffset: 635px;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 483px;
    stroke-dashoffset: 483px;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 478px;
    stroke-dashoffset: 478px;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 581px;
    stroke-dashoffset: 581px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 433px;
    stroke-dashoffset: 433px;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 516px;
    stroke-dashoffset: 516px;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 588px;
    stroke-dashoffset: 588px;
    animation: line-anim 2s ease forwards 3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: white;
    }
}