body {
    font-size: 16px;
    font-family: 'Raleway',  sans-serif;
}
a {
    text-decoration: none;
}
header {
    position: absolute;
    top: 1.5em;
    left: 3em;
    width: 90%
}
.brand {
    position: absolute;
    left: .6em;
    top:-0.25em;
    color: #d1d1d1;
    margin-top: 1em;
}
.right{
    position: absolute;
    right: 2em;
    top:-0.25em;
}
.right li{
    display: inline;
    list-style: none;
}
.right a {
    position: relative;
    right: 2.5em;
    top: -1.3em;
}
.landing-page {
    background-color: #000fff;
    /* background:rgba(0,0,0,0.2); */
    height: 100vh;
}
.pic-frame {
    background-color: #252525;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 160px;
    left: 220px;
    /* float: left; */
    z-index: 1;
}
.pattern {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    float: right;
    width: 75%;
    height: 100vh;
}
.pat-cont {
    max-width: 100%;
    margin: 12em 0 0 14em;
    float: left;
}
h1 {
    font-size: 4em;
    font-family: 'Oswald';
    line-height: .5;
    width: max-content;
}
.white {
    background-color: #ffffff;
}
.details {
    width: 35%;
    font-weight: 600;
}
.btn {
    background-color: #000fff;
    padding: 1em 1.5em;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}
footer {
    background-color: #f1f2f4;
    padding: 1em 6em;
    margin-top: 2em;
    font-family: 'Raleway';
}
.links li{
    display: inline;
}
.icon {
    margin-right: 1.5em;
}
.icon a {
    color: #6d6d6d;
}
.form {
    position: relative;
    bottom: 4.5em;
}
form {
    background-color: #000fff;
    color: #ffffff;
    padding: 3em;
    width: 25%;
    float: right;
    box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.35)
}
input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #000fff;
    color: #ffffff;
}
input {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
input:focus {
    border: none;
    border-bottom: 1px solid #d1d1d1;
  }
::placeholder {
    color: #d1d1d1;
}
.col {
    color: #d1d1d1
}
textarea {
    height: 4em;
    margin-bottom: 1.75em;
}
.btn-send {
    background-color: #ffffff;
    padding: .75em 4em;
    color: #000fff;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: max-content;
}
.footnotes {
    margin-top: 3em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6)
}
.portfolio {
    padding: 3em;
    margin: 0 3em 6em 3em;;
    columns: 2;
}
.bg {
    background-color: #000fff;;
    width: 90%;
    height: 95%;
    position: absolute;
    left:1em;
    top:2em;
    z-index: -1
}
.portfolio-container {
    position: relative;
    margin: 0 0 6em 0;
}
.img {
    width: 90%;
    height: 70%;
    margin-left: 3em;
    z-index: 11;
    box-shadow: 5px 15px 15px 15px rgba(0,0,0,0.35)
}
.portfolio-title {
    margin-left: 3em;
    margin-top: 0;
    color: #ffffff;
    /* width: 400px;
    max-width: 400px; */
}
.center {
    margin: 3em 0 0 9.5em
}

@media only screen and (max-width: 767px) { 
    .hello, p.details {
        display: none;
    }
    .pattern {
        width: 85%;
    }
    .brand {
        position: absolute;
        left: .6em;
        top:-0.25em;
        margin-top: 1em;
    }
    header {
        position: absolute;
        top: 1.5em;
        left: .25em;
        width: 90%
    }
    .pic-frame {
        width: 65%;
        height: 50%;
        top: 140px;
        left: 120px;
    }
    p.details {
        position: absolute;
        bottom: 120px;
        left: 120px;
        width: 310px
    }
    .btn {
        position: absolute;
        bottom: 60px;
        left: 120px;
    }
    .portfolio {
        columns: 1;
        margin: 0 1em 6em 1em;;
    }
    .img {
        width: 90%;
        height: 70%;
    }
    .bg {
        width: 90%;
        height: 90%;
        position: absolute;
        left:0;
        top:2em;
        z-index: -1
    }
    .portfolio-container {
        position: relative;
        margin: 0 0 6em 0;
    }
    .img {
        z-index: 11;
        box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.35)
    }
    .portfolio-title {
        margin-left: 3em;
        margin-top: 0;
        color: #ffffff;
    }
    .center {
        margin: 3em 0 .5em 1.5em
    }
    .email, .email-label, .skype,.skype-label {
        display: none;
    }
    form {
        padding: 2em;
        width: 100%;
        padding: 10px;
    }
    footer{
        padding: 1em 3em;
    }
    .right {
        position: absolute;
        right: 0
    }
    img[src="sq-fill.svg"]{
        width: 3.125em;
        height:3.125em
    }
    .fa, .fa-twitter, .fa-github, .fa-whatsapp {
        font-size:1.25em !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .hello {
        display: inline;
        margin-left: .6em
    }
    .pic-frame {
        top: 9em;
        left: 6em;
    }
     p.details {
        position: relative;
        left: 2.4em;
        width: 60%
    }
    .btn {
        position: relative;
        left: 2.4em;
    }
    .portfolio {
        columns: 1;
        margin: 0 1em 6em 1em;;
    }
    .img {
        width: 80%;
        height: 50%;
    }
    .center {
        margin: 3em 0 .5em 4em
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .pic-frame {
        top: 140px;
        left: 100px;
    }
}

/* loader css */
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease infinite forwards 3.5s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 549px;
    stroke-dashoffset: 549px;
    animation: line-anim 2s ease forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 245px;
    stroke-dashoffset: 245px;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 518px;
    stroke-dashoffset: 518px;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 635px;
    stroke-dashoffset: 635px;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 483px;
    stroke-dashoffset: 483px;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 478px;
    stroke-dashoffset: 478px;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 581px;
    stroke-dashoffset: 581px;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 433px;
    stroke-dashoffset: 433px;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 516px;
    stroke-dashoffset: 516px;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 537px;
    stroke-dashoffset: 537px;
    animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 588px;
    stroke-dashoffset: 588px;
    animation: line-anim 2s ease forwards 3s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: white;
    }
}