@media only screen and (min-width: 1024px) {
    .menu {
        float: right;
      } 
    .menu li {
        display: inline-block;
        list-style: none;
        font-weight: 500;
      }   
      .menu li a {
        margin: 1em 1em;
      }
      li.active a {
        margin: 0;
      }
    nav button {display: none;}
    nav ul {display: block;}   
    
    .col {
      column-count: 2;
      width: 97%;
      margin-bottom: 3em;
    }
    .mg {
      display: block;
    }
    /* .text-content {
      margin-top: 1em;
    } */

} /* end of media query */