html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Calibri, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  font-size: 1.375em;
}
section {
  width: 100%;
  max-width: 100%;
  margin: 0 0 9em 0;
}
header,
.section-container {
  padding: 1em 1.5em;
}
.menu li {
  width: fit-content;
  margin-bottom: .75em;
}
.nav-container {
  width: 100%;
  position: relative;
  margin-bottom: 6em;
}
.brand img {
  margin: 0.75em 0 0 0.75px;
  width: 160px;
  height: 50px;
}
a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}
.menu li a {
  color: #414141;
  text-align: center;
}
#talk {
  border-radius: 4px;
  border: 3px solid #3360c5;
  padding: 0.5em 1.5em 0.5em 1.5em;
  color: #3360c5;
}
.active {
  border-bottom: 0.125em #3360c5 solid;
}
li.active a {
  margin: 0;
}
/* navigation rules */
button#hamburgerBtn {
  background: none;
  border: none;
  color: #000;
  float: right;
  font-size: 2.4em;
  cursor: pointer;
  padding: 0 .25em 0 0.25em;
}
nav ul.open {
  display: block;
}
nav ul {
  display: none;
}
li {
  list-style-type: none;
}
section a {
  border-radius: 4px;
  border: 3px solid #5ce0e6;
  padding: .5em 1em;
  color: #5ce0e6;
  font-weight: 500;
  text-decoration: none;
}
/* mouse over link */
a:hover,
li>a:hover,
#learn:hover,
#talk:hover {
  color: #3360c5;
  font-weight: 700;
}
main {
  clear: both;
}
.sec-img img {
  display: none;
}
.bar {
  display: none;
}
#learn {
  background-color: #5ce0e6;
  color: #ffffff;
  width: 6em;
  margin-inline-end: 40px;
}
.centre {
  text-align: center;
}

.blue {
  color: #3360c5;
  margin: 1.25em 0 0 0;
}

.grid-section {
  background-color: #f6f6f6;
  padding: 3em;
}

.header {
  padding: 20px;
  text-align: center;
}

.large {
  font-size: 3rem;
  font-weight: 500;
}

.custom {
  list-style-image: url(img/list.svg);
}
/* testing column count */
.col {
  /* column-count: 1; */
  width: 97%;
  padding: 0 0px 0 2em;
  margin-bottom: 3em;
}
.img-fi {
  width: 100%;
  height: 80%;
}
.img-icon {
  width: 80px;
  height: 80px;
}
h2,
h1 {
  margin: 0;
}

.grow {
  margin-bottom: 2em;
}

.box {
  padding: .25em;
  justify-content: center;
  width: 24em;
  margin: 0.5em 0 0 2em;
  max-width: 100%;
}
/* p {
  width: fit-content;
} */
.horizontal-bar {
  width: 18em;
  height: 0.5em;
  /* margin: 0.5em 0 0 6em; */
  background-color: #3360c5;
  border-radius: 1em;
}

.box-section {
  background-color: #f6f6f6;
  max-width: 100%;
}

footer {
  background-color: #d8fdff;
}
.footer-grid{
  padding: 1.5em
}
.links {
  list-style: none;
  text-align: start;
  padding-inline-start: 0 !important;
}
.home img[src="img/logo.svg"] {
  width: 90%;
}
.moi {
  padding: 0 0 1.5em 3em;
}

.span-text {
  display: inline;
  /* margin: 0 0 0 0.5em; */
  font-weight: 400;
  position: relative;
  bottom: 1.25em;
  margin-left: 1em;
}

.serve {
  border-radius: 4px;
  background-color: #3360c5;
  padding: 10px 40px 10px 40px;
  color: #ffffff;
  border: none;
}

.text-content {
  padding-top: 1em;
}

.col3 {
  margin: 3em;
}

.box3 {
  float: left;
  width: 40%
}

.box3-img {
  float: left;
  position: relative;
  top: -90px;
  right: -50px;
  width: 250px;
  height: 200px;
}

#next {
  clear: both;
}
.mg {
  display: none;
}
.top {
  margin-top: -6em;
}