body {
    font-size: 16px;
    font-family: 'Raleway',  sans-serif;
}
a {
    text-decoration: none;
}
section{
    margin-bottom: 3em;
}
i {
    position: relative;
    right: 1.8em;
    top: .125em;
}
.pattern {
    background-image: url('img/bg.png');
    background-repeat: no-repeat;
    background-color: #000fff;
    background-position: right;
    height: 100vh;
}
.content {
    margin-top: 3em
}
.white {
    background-color: #ffffff;
}
@media only screen and (max-width: 768px) {   
    .prof-pic {
        width: 80%;
        height: 70%;
    }
    .btn-primary{
        margin-left: 3em;
    }
    .hello, .details { display: none !important}
}
.btn-primary {
    color: #fff;
    background-color: #000fff;
    border-color: #000fff;
    padding: .75em 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}
h1 {
    font-size: 4em;
    font-family: 'Oswald';
    line-height: .5;
    width: max-content;
}
.details {
    font-weight: 600;
}
.center {
    margin: 1em 0 1em 6em
}
.bg {
    background-color: #000fff;
    width: 90%;
    height: 90%;
    position: absolute;
    left:1em;
    top:2em;
    z-index: -1
}
.portfolio-container {
    position: relative;
    margin: 0 0 6em 0;
}
.img {
    margin-left: 3em;
    z-index: 11;
    box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.35)
}
.portfolio-title {
    margin-left: 1.75em;
    color: #ffffff;
}
footer {
    background-color: #f1f2f4;
    padding: 1em 3em;
    margin-top: 2em;
    font-family: 'Raleway';
}
.links li{
    display: inline;
}
.icon {
    margin-right: 1.5em;
}
.icon a {
    color: #6d6d6d;
}
.links a:hover {
    color: #000fff !important;
}
.form {
    position: relative;
    bottom: 6em;
    float: right;
}
form {
    background-color: #000fff;
    color: #ffffff;
    padding: 3em;
    box-shadow: 5px 10px 15px 10px rgba(0,0,0,0.35)
}
input, textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #000fff;
    color: #ffffff;
}
input {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
input:focus {
    border: none;
    border-bottom: 1px solid #d1d1d1;
  }
::placeholder {
    color: #d1d1d1;
}
textarea {
    height: 4em;
    margin-bottom: 1.75em;
}
.btn-send {
    background-color: #ffffff;
    padding: .75em 4em;
    color: #000fff !important;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: max-content;
}
.col {
    color: #d1d1d1;
    margin-left: -1em;
}
.footnotes {
    margin-top: 3em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6)
}
h1.contact {
    margin: .5em 0;
}