$white: #ffffff;
$background: #0a0a0a;
$red: #D5081A;
$pixels: (
    "zero": 0px,
    "fifteen": 15px,
    "twenty": 20px,
    "thirty": 30px,
    "thirty5": 35px,
    "forty": 40px,
    "forty5": 45px,
    "fifty": 50px,
    "fifty5": 55px,
    "sixty": 60px,
    "eighty": 80px,
    "ninety": 90px,
    "hundred": 100px
)