@import './variables';
@import './resets';

@function pixel($p){
  @return map.get($pixels, $p);
}

@mixin flex($direction){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
/*===========================
    01. Common CSS
===========================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Space+Mono:400,700&display=swap");


.countdown {
  // padding-top: map.get($pixels, forty);
  padding-top: pixel(forty);
  padding-bottom: pixel(forty);

  //the #{&} adds the parent class, its equal to .countdown
  #{&} .single-count-content {
    position: relative;
    padding: 0 40px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .countdown .single-count-content {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .countdown .single-count-content {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content {
    padding: 0 20px;
  }
}

.countdown .single-count-content::after {
  position: absolute;
  right: pixel(zero);
  top: pixel(zero);
  font-size: pixel(fifty);
}

@media (max-width: 767px) {
  .countdown .single-count-content::after {
    top: -10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content::after {
    top: -5px;
  }
}

.countdown .single-count-content:first-child {
  padding-left: pixel(zero);
}

.countdown .single-count-content:last-child {
  padding-right: pixel(zero);
}

.countdown .single-count-content:last-child::after {
  display: none;
}

.countdown .single-count-content .count {
  font-size: pixel(fifty);
}

@media (max-width: 767px) {
  .countdown .single-count-content .count {
    font-size: pixel(thirty5);
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .countdown .single-count-content .count {
    font-size: pixel(forty5);
  }
}

.countdown .single-count-content .text {
  margin-bottom: pixel(zero);
}

@media (max-width: 767px) {
  .countdown .single-count-content .text {
    font-size: pixel(fifteen);
  }
}

.header {
  position: absolute;
  top: pixel(forty);
  left: pixel(zero);
  width: 100%;
  z-index: 2;
}

main.main-06 {
  background: $background;
  overflow: hidden;
}

main .header.header-06 {
  position: unset;
  padding-top: pixel(forty);
  padding-bottom: pixel(ninety);
}

@media (max-width: 767px) {
  main .header.header-06 {
    padding-top: pixel(fifty);
    padding-bottom: pixel(fifty);
  }
}

@media (max-width: 767px) {
  main .header.header-06 .header-right {
    display: none;
  }
}

main .header.header-06 .header-right a {
  color: $white;
  font-size: pixel(twenty);
  font-family: "Space Mono", sans-serif;
}

main .main-wrapper.demo-06 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

main .main-wrapper.demo-06 .hero-area {
  margin-bottom: pixel(hundred);
}

main .main-wrapper.demo-06 .hero-area h1 {
  font-size: pixel(hundred);
  font-weight: 700;
  color: $white;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: pixel(eigthy);
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: pixel(forty);
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area h1 {
    font-size: pixel(fifty);
  }
}

main .main-wrapper.demo-06 .hero-area p {
  font-family: "Space Mono", sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  line-height: pixel(forty);
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content {
  @include flex(column-reverse);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
  content: ':';
  font-size: 54px;
  color: $white;
  top: pixel(thirty5);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
    top: pixel(thirty);
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content::after {
    top: pixel(thirty);
    font-size: pixel(forty5);
  }
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
  font-family: "Poppins", sans-serif;
  color: $white;
  font-size: pixel(sixty);
  font-weight: 700;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
    font-size: pixel(fifty);
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .count {
    font-size: pixel(forty);
  }
}

main .main-wrapper.demo-06 .hero-area .countdown .single-count-content .text {
  font-family: "Space Mono", sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.5);
}

main .main-wrapper.demo-06 .team-area {
  margin-bottom: pixel(hundred);
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area {
    margin-bottom: pixel(thirty);
  }
}

main .main-wrapper.demo-06 .team-area .section-title h1 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: $white;
  padding-bottom: 7px;
  margin-bottom: pixel(forty);
  position: relative;
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h1 {
    font-size: pixel(twenty);
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h1 {
    font-size: 22px;
  }
}

main .main-wrapper.demo-06 .team-area .section-title h1::after {
  content: '';
  position: absolute;
  width: pixel(thirty);
  height: 1px;
  background: $white;
  bottom: 0;
  left: 0;
}

main .main-wrapper.demo-06 .team-area .section-title h2 {
  font-family: "Poppins", sans-serif;
  font-size: pixel(forty5);
  line-height: pixel(fifty5);
  font-weight: pixel( forty5);
  color: $white;
  margin-bottom: pixel(fifty);
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h2 {
    font-size: 28px;
    line-height: pixel(forty);
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .section-title h2 {
    font-size: 32px;
    line-height: 42px;
  }
}

main .main-wrapper.demo-06 .team-area .team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
  width: calc(33.33% - 50px);
  margin: 0px 25px 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(33.33% - 30px);
    margin: 0px 15px 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(50% - 30px);
    margin: 0px 15px 50px;
  }
}

@media (max-width: 767px) {
  main .main-wrapper.demo-06 .team-area .team-wrapper .team-item {
    width: calc(100% - 50px);
    margin: 0px 25px 50px;
  }
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img {
  position: relative;
  margin-bottom: 20px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img img {
  width: 100%;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links {
  position: absolute;
  width: 185px;
  height: 0px;
  background: $white;
  border-top-right-radius: 57px;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li {
  display: inline-block;
  margin: 0 8px;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li a {
  font-size: 18px;
  color: $background;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-img .social-links li a:hover {
  color: $red;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item:hover .team-img .social-links {
  height: 57px;
  opacity: 1;
  visibility: visible;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-info h4 {
  font-size: 24px;
  font-weight: 700;
  color: $white;
  font-family: "Poppins", sans-serif;
}

main .main-wrapper.demo-06 .team-area .team-wrapper .team-item .team-info p {
  font-family: "Space Mono", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

main .footer {
  width: 100%;
  margin-bottom: pixel(fifty);
}

main .footer p {
  font-family: "Space Mono", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 767px) {
  main .footer p {
    text-align: center;
  }
}

main .footer .credit {
  text-align: right;
}

@media (max-width: 767px) {
  main .footer .credit {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */